html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height:100%;
  margin: 0;
  padding:0;
  font-family: 'Nanum Gothic', sans-serif;
  position: relative;
  text-align: center;
}

header{
  width: 100%; /**/
  height: 110px;
  text-align: center;
  background-color: #CBEBDF;
  position: relative;
  margin: 0;
  padding: 0;
}

header h4{
  width: 100%;
  height: 70px;
  font-family: 'Nanum Gothic', sans-serif;
  position: relative;
  margin: 0; padding: 0;
  display: flex;
align-items: center;
  justify-content: center;
}

nav{
  width: 100%;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  position: relative;
}

nav button{
  margin:0; padding: 0;
  width: 100px; height: 40px;
  border: none;
  border-radius: 3px 3px 0 0;
  background-color: #CBEBDF;
  font-size: 1em;
}
nav button:hover {
    background-color: #E4F5EF;/**/
    padding-bottom: 2px #691fd1;
}

.btnPro{
  margin-right: -2px;
}
.btnNew{
  margin: 0 -2px;
}
.btnOpen{
  margin-left: -2px;
}



section{
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;
  padding: 10px;
  overflow: auto;
}

.searchFiles{
  height: 32px;
  max-width: 1100px; /*ㅠㅠ?*/
  margin: 20px auto;
  padding: 0;
  width: 100%;
  position: relative;
  display: flex;
}

.searchFiles button{
  width: 32px;
  border: none;
  height: 32px;
  background-color: #E4F5EF;
  border-radius: 3px;

}

.btnParent{
  margin-right: 16px;
}

.searchFiles input{
  max-width: 800px;
  height: 32px;
  border: none;
  background-color: #E4F5EF;
  border-radius: 3px;
  margin-right: 16px;
}

.btnRe{
  margin-right: 16px;
}
.btnFav{
  margin-right: 4px;
}

.btnFavFol{
  margin-right: 16px;
}



.fileList{
  max-width: 1100px;
  /*width: 100%;*/
  position: relative;
  margin: 0px auto;
  text-align: left;
  padding:0;

}

.fileList ul{
  list-style: none;
  text-align: left;
  margin: 0;
  padding:0;
}
.fileList li{
  height: 50px;
  list-style: none;
  text-align: left;
  border-radius: 3px;
  margin: 0;
  padding:0;
  cursor: pointer;
}

.fileList li:hover {
    background-color: #E4F5EF;
}



.fileBottom{
  width: 100%;
  height: 70px;
  position: relative;
  background-color: #FFFFFF;
}
.newProject{
  border: none;
  border-radius: 3px;
  height: 40px;
  margin: 15px auto;
  padding: 5px 20px;
  color: #FFFFFF;
  background-color: #42B983;
}

.newProject:hover{
  background-color: #70CCA2;
}



footer{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
  background-color: #1C2834;
  position: relative;
  font-size: 0.75em;
}
footer button{
  height: 30px;
  border: none;
  background-color: #1C2834;
  margin: 0 -2px;
  color: #FFFFFF;
}
footer button:hover {
  background-color: #2C3E51;
}
