<!doctype HTML>
<html>
  <head>
    <title>Vue 프로젝트 매니저</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <!--<div class="container">-->
      <header>
        <h4>Vue 프로젝트 매니저</h4>
        <nav>
          <button class="btnPro">프로젝트</button>
          <button class="btnNew">만들기</button>
          <button class="btnOpen">가져오기</button>
        </nav>
      </header>

      <section>
        <div class="searchFiles">
          <button class="btnParent">^</button>
          <input class="inputPath" type="text" />
          <button class="btnRe">1</button>
          <button class="btnFav">2</button>
          <button class="btnFavFol">3</button>
          <button class="btnMore">4</button>
        </div>

          <div class="fileList">
            <ul class="fileListUl">
            </ul>
          </div>


        <div class="fileBottom">
            <button class="newProject">╋ 새 프로젝트를 만들어보세요</button>
        </div>

      </section>

      <footer>
        <button>현재 프로젝트</button>
        <button>현재 위치</button>
        <button>host 로그</button>
        <button>야간모드</button>
        <button>버그 리포트</button>
        <button>번역</button>
        <button>새로고침</button>
      </footer>
    <!--</div>-->
    <script type="text/javascript" src="Path.js"></script>
  </body>
</html>
